{% extends 'base.html' %}
<!-- Barra de Título -->
{% block title %}INFOSCHOOL!{% endblock %}

<!-- Encabezado-->
{% block header %}
<h2 class="form-signin-heading">INFOSCHOOL!!!</h2>
{% endblock %}


<!-- Contenido -->
{% block content %}
    <p>Tu administrador de proyectos perfecto.</p>


{% endblock %}

<!-- SideBar -->
{% block sidebar %}
    <ul class="nav nav-sidebar">

        <li><a href="{% url 'usuario.views.listar_usuarios' %}">Usuarios</a></li>

        <li><a href="{% url 'listar_alumno' %}">Alumnos</a></li>

        <li><a href="{% url 'listar_materia' %}">Materias</a></li>


    </ul>
{% endblock %}

