{% extends 'base.html' %}
<!-- Barra de Título -->
{% block title %}INFOSCHOOL!{% endblock %}

<!-- Encabezado-->
{% block header %}
<h2 class="form-signin-heading" >INFOSCHOOL!!!</h2>
{% endblock %}


<!-- Contenido -->
{% block content %}
    <div class="row">
        <div class="col-sm-5 col-md-8">
            <br>
            <br>
            <p><font face="Comic Sans MS" color="#008b8b" size="5">Sea usted bienvenido, este sistema te ayudará a
                manejar las anotaciones en el registro anecdótico cualquiera sea la causa,pudiendo ser de Felicitaciones
                o de amonestación .</font>
            </p>
        </div>
    </div>

{% endblock %}

<!-- SideBar -->
{% block sidebar %}
    <ul class="nav nav-sidebar">

        {% if admin %}

            <li><a href="{% url 'usuario.views.listar_usuarios' %}">Usuarios</a></li>

        {% endif %}

        {% if profe %}
            <li><a href="{% url 'listar_alumnos_de_profe' %}">Mis Alumnos</a></li>
        {% endif %}

        {% if admin %}
            <li><a href="{% url 'listar_alumno' %}">Alumnos</a></li>

            <li><a href="{% url 'listar_materia' %}">Materias</a></li>
        {% endif %}
        {% if profe %}
            <li><a href="{% url 'listar_materias_profesor' %}">Mis Materias</a></li>
        {% endif %}

        {% if alum %}
            <li><a href="{% url 'listar_materias_alumno' %}">Mis Materias</a></li>
        {% endif %}

        {% if admin %}
            <li><a href="{% url 'listar_curso' %}">Cursos</a></li>
        {% endif %}
        {% if profe %}
            <li><a href="{% url 'listar_cursos_del_profe' %}">Mis Cursos</a></li>
        {% endif %}
        {% if admin %}
            <li><a href="{% url 'listar_anotacion' %}">Anotación</a></li>
        {% endif %}
        {% if alum %}
            <li><a href="{% url 'listar_mis_anotaciones' %}">Mis anotaciones</a></li>
        {% endif %}


    </ul>
{% endblock %}

