{% extends './autenticacion/authbase.html' %}
{% load staticfiles %}
<!-- Barra de Título -->
{% block title %}INFOSCHOOL - Contraseña recuperada{% endblock %}

<!-- CSS del Template -->
{% block css %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}

<!-- Encabezado-->
{% block header %}
	<h1>Recuperación de Contraseña</h1>
{% endblock %}

<!-- Contenido -->
<!-- Párrafo con mensaje y botón para volver al inicio de sesión-->
{% block content %}
   <p>La nueva contraseña se ha enviado satisfactoriamente a su correo</p>
   <td><a href="{% url 'principal.views.ingresar' %}" class="btn btn-lg btn-primary btn-block" type="button" >Volver</a></td>
{% endblock %}


