{% extends 'base.html' %}
<!-- Barra de Título -->
{% block title %}INFOSCHOOL! - Gestión de Usuarios{% endblock %}

<!-- Encabezado-->
{% block header %}
<h3 class="page-header">Gestión de Usuarios</h3>
{% endblock %}

<!-- Botones superiores -->
{% block botones %}

{% endblock %}

<!-- Contenido -->
{% block content %}
    <div class="row placeholders">
        <div>
            <table class="table table-striped table-bordered table-hover" align="center">
                <theader>
                    <tr>
                        <th>Nombre de Usuario</th>
                        <th>Nombre</th>
                        <th>Apellido </th>
                        <th>Correo Electronico</th>
                        <th>Cédula</th>
                        <th>Teléfono</th>
                        <th>Dirección</th>
                        <th>Clase</th>
                        <th>Editar</th>
                        <th>Eliminar</th>

                    </tr>
                </theader>
                <tbody>
                    <ul>
                    {% for usuario in object_list %}
                        <tr>
                            <td>{{ usuario.nombre_usuario }}</td>
                            <td>{{ usuario.nombre }}</td>
                            <td>{{ usuario.apellido }}</td>
                            <td>{{ usuario.correo_electronico }}</td>
                            <td>{{ usuario.cedula }}</td>
                            <td>{{ usuario.telefono }}</td>
                            <td>{{ usuario.direccion }}</td>
                            <td>{{ usuario.clase }}</td>

                                <td><a href="{% url 'editar_usuario' usuario.id_usuario %}" class="btn btn-primary btn-sm" >editar</a></td>
                                <td><a href="{% url 'borrar_usuario' usuario.id_usuario %}" class="btn btn-primary btn-sm btn-warning" >Eliminar</a></td>

                        </tr>
                    {% endfor %}
                    </ul>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

<!-- SideBar -->
{% block sidebar %}
    <ul class="nav nav-sidebar">
        <li><a href="{% url 'nuevo_usuario' %}">Agregar Usuario</a></li>
    </ul>
{% endblock %}