{% extends 'base.html' %}
<!-- Barra de Título -->
{% block title %}INFOSCHOOL! - Gestión de Proyectos{% endblock %}

<!-- Encabezado-->
{% block header %}
<h3 class="page-header">Error</h3>
{% endblock %}

<!-- Contenido -->
<!-- Párrafo con mensaje y botón para volver al inicio de sesión-->
{% block content %}
    <form method='post' action=''>{% csrf_token %}
        <p>
        {{object}}
        </p>
        <a href="{% url "listar_usuario" %}" class="btn btn-primary btn-sm">Atras</a>
    </form>
{% endblock %}