{% extends 'base.html' %}
<!-- Barra de Título -->
{% block title %}INFOSCHOOL! - Gestión de Anotación{% endblock %}

<!-- Encabezado-->
{% block header %}
<h3 class="page-header">Registrar Anotación</h3>
{% endblock %}

<!-- Botones superiores -->
{% block botones %}

{% endblock %}


<!-- Contenido -->
{% block content %}
    <div class="container">
        <div class="col-md-5">

            <form action="{% url 'nueva_anotacion' %}" method="POST" >{% csrf_token %}

                {{formulario.as_p}}

               <strong>Alumno:</strong>
                <select name="alumno">
                    {% for al in alumnos %}
                        <option value="{{al.id_alumno}}"> {{al.usuario.nombre}} </option>
                    {% endfor %}
                </select>
                <br><br>
                <strong>Materia:</strong>
                <select name="materia">
                    {% for mat in materias %}
                        <option value="{{mat.id_materia}}"> {{mat.nombre}} </option>
                    {% endfor %}
                </select>
                <br><br>

                <!-- boton Submit: Envia el formulario -->

             <input type="submit" value="Guardar" />
            </form>
        </div>
    </div>
{% endblock %}

<!-- SideBar -->
{% block sidebar %}
    <ul class="nav nav-sidebar">
        <li><a type="button" href="{% url 'listar_anotacion' %}">Cancelar</a></li>
    </ul>
{% endblock %}
