{% extends 'base.html' %}
<!-- Barra de Título -->
{% block title %}INFOSCHOOL! - Gestión de Anotaciones{% endblock %}

<!-- Encabezado-->
{% block header %}
<h3 class="page-header">Gestión de Anotaciones</h3>
{% endblock %}

<!-- Botones superiores -->
{% block botones %}

{% endblock %}

<!-- Contenido -->
{% block content %}
    <div class="row placeholders">
        <div>
            <table class="table table-striped table-bordered table-hover" align="center">
                <theader>
                    <tr>

                        <th>Nombre</th>
                        <th>Descripción</th>
                        {% ifnotequal alumno True %}
                            <th>Alumno</th>
                        {% endifnotequal %}
                        <th>Curso</th>
                        <th>Materia</th>
                        <th>Fecha</th>
                        <th>Responsable</th>
                        {% ifnotequal alumno True %}
                            <th>Editar</th>
                        {% endifnotequal %}


                    </tr>
                </theader>
                <tbody>
                    <ul>
                    {% for anotacion in object_list %}
                        <tr>
                            <td>{{ anotacion.nombre }}</td>
                            <td>{{ anotacion.descripcion}}</td>
                            {% ifnotequal alumno True %}
                                <td>{{ anotacion.alumno.usuario.nombre}}</td>
                            {% endifnotequal %}
                            <td>{{ anotacion.alumno.curso}}</td>
                            <td>{{ anotacion.materia }}</td>
                            <td>{{ anotacion.fecha }}</td>
                            <td>{{ anotacion.responsable }}</td>

                        {% ifnotequal alumno True %}
                            <td><a href="{% url 'editar_anotacion_alumno' anotacion.id_anotacion id_alumno %}" class="btn btn-primary btn-sm" >editar</a></td>
                        {% endifnotequal %}


                        </tr>
                    {% endfor %}
                    </ul>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

<!-- SideBar -->
{% block sidebar %}
    <ul class="nav nav-sidebar">
        {% ifnotequal alumno True %}
            <li><a href="{% url 'nueva_anotacion_alumno' id_alumno %}">Agregar Anotacion</a></li>
        {% else %}
            <li><a href="{% url 'home_sistema' %}">Atras</a></li>
        {% endifnotequal %}
    </ul>
{% endblock %}